.modal {
  position: relative;
  max-width: 100%;
  padding: 20px;
  background-color: #fff;
  margin: 32px auto;
  border-radius: 8px;
  z-index: 1;
  text-align: left;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  max-height: calc(100vh - 160px);
  overflow-x: hidden;
  overflow-y: auto;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.player {
  width: 400px;
}

.image {
  width: 90vw;
  padding: 0;
  cursor: url("/circle.png") 25 25, pointer;
  height: 100%;
}

.help {
  width: 80vw;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.6;
  z-index: 1;
}

.closeBtn:hover {
  opacity: 1;
}
