.player {
  margin-right: 20px;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 200px;
}

.player.active {
  box-shadow: 0px 0px 0px 2px rgba(255, 165, 0, 1),
    0px 0px 0px 4px rgba(255, 165, 0, 0.6),
    0px 0px 0px 6px rgba(255, 165, 0, 0.4),
    0px 0px 0px 8px rgba(255, 165, 0, 0.2),
    0px 0px 0px 10px rgba(255, 165, 0, 0.1);
}

.player.selected {
  background-color: red !important;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.player.active.stopped {
  background-color: cornflowerblue;
  animation: blink 500ms step-start 500ms 3;
}

.playerImg {
  width: 80px;
  height: 80px;
}

.resetBtn {
  margin: 10px auto;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 16px;
  height: 16px;
  display: none;
  cursor: pointer;
  opacity: 0.6;
}

.closeBtn:hover {
  opacity: 1;
}

.player:hover {
  background-color: #eee;
}

.player:hover .closeBtn {
  display: inline;
}

@media only screen and (max-width : 640px) {
  .player.addUserBtn {
    order: 1;
  }

  .player {
    order: 2;
  }

  .closeBtn {
    display: inline;
  }

  .player:not(.spin).active {
    box-shadow: none;
  }

  .player:not(.spin).active.stopped {
    background-color: transparent;
    animation: none;
  }
}
